.summarycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summarycontainer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #0b539b;
    font-size: 18px;
    font-weight: 400;
    border: solid 1px;
    border-radius: 0.7rem;
    margin-bottom: 1em;
    width: 100%;
    height: 2.5rem;
}